* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color-element: #00e0d0;
    /*border: 1px solid red;*/
    background-size: cover;
}

@font-face {
    font-family: HammersmithOne; /* Имя шрифта */
    src: url(../fonts/HammersmithOne.ttf); /* Путь к файлу со шрифтом */
}

body {
    font-family: sans-serif;
    max-width: 1600px;
    min-width: 320px;
}

img {
    width: 100%;
    height: auto;
}

ul, li {
    list-style-type: none;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.titleText {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.siteSection {
    padding: 65px 0;
}

.siteSection-header {
    padding-top: 15px;
    background-image: linear-gradient(rgba(46, 42, 78, 0.85), rgba(80, 63, 118, 0.85)), url("../img/Page1.png");
}

.page1 {
    /*background-image:  url("../img/Page1.png");*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 590px;
    max-width: 960px;
    margin: 0 auto;
}

.page1__mainHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainHeader__logo {
    width: 130px;
}

.mainNav {
}

.mainNev__items__icon {
    display: none;
}

.mainNav__items {
    display: flex;
    align-items: center;
}

.mainNav__item {
    padding: 10px;
}

.mainNav__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    transition: color .3s;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.mainNav__item a:hover {
    color: var(--color-element);
}

.mainNav__item-active a {
    color: var(--color-element);
}

.slider {
}

.slider-header {
}

.slider__content {
}

.slider__items {
    text-align: center;
}

.slider__item {
    color: white;
}

.mainTitle {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 900;
}

.line {
    height: 1px;
    border: 0;
    border-top: 1px solid var(--color-element);
    margin: 20px auto;
    padding: 0;
    width: 50px;
}

.innerContent {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}

.mainBtn {
    border: 1px solid var(--color-element);
    background-image: none;
    background-color: transparent;
    color: var(--color-element);
    margin-top: 40px;
    padding: 10px 16px;
    font-family: HammersmithOne, serif;
    text-transform: uppercase;
}

.sliderDotted {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sliderDotted__item {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 10px;
    transition: background-color .3s;
}

.sliderDotted__item:hover {
    background-color: var(--color-element);
    cursor: pointer;
}

.sliderDotted__item-active {
    background-color: var(--color-element);
}

.siteSection-page2 {
    background: white;
}

.page2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    height: 260px;
}

.page2-logo {
    display: block;
    align-items: center;
    margin: 0 auto;
}

.imgPage2 {
    width: 235px;
}

.page2-text {
    margin-left: 100px;
}

.page2Title {
}

.page2-p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
}

.btnPage2 {
}

.siteSection-page3 {
    background-image: linear-gradient(rgba(46, 42, 78, 0.85), rgba(80, 63, 118, 0.85)), url("../img/Page2.png");
}

.page3 {
    display: flex;
    align-items: center;
    height: 420px;
}

.video {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    height: 150px;
}

.play {
}

.play_text {
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
}

.siteSection-page4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.page4 {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    width: 960px;
    margin: 0 auto;
    min-height: 625px;
}

.page4__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page4__header-h2 {
    margin-bottom: 10px;
}

.page4__header-text {
}

.page4__header-line {
    border-color: grey;
    margin-bottom: 50px;
}

.page4__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.expertise {
     display: flex;
     height: 250px;
     width: 320px;
     border: 1px solid #ebebeb;
     padding: 30px;
     align-items: center;
     flex-direction: column;
     justify-content: space-between;
 }

.expertiseFoto {
    margin: 10px;
    height: 50px;
    width: auto;
}

.expertiseTitle {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
}

.expertiseText {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.siteSection-page5 {
    background-image: linear-gradient(rgba(46, 42, 78, 0.85), rgba(80, 63, 118, 0.85)), url("../img/Page5.png");
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    color: white;
}

.page5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    margin: 0 auto;
    /*height: 625px;*/
    justify-content: space-between;
}

.page5__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page5__header-title {
}

.page5__header-text {
}

.page5__header-line {
    border-color: grey;
}

.page5__body {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.member {
    width: 220px;
    height: 310px;
    margin: 10px;
}

.memberFoto {
    width: 220px;
    height: 230px;
    background: white;
}

.memberNameProf {
    border: 2px solid #7b788f;
}

.memberName {
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.memberProf {
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(150, 147, 173, 0.85);
}

.page5__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page5__footer-text {
    margin-top: 70px;
    text-align: center;
}

.small-text{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.page5__footer-btn {
    margin-top: 30px;
}

.siteSection-page6 {}

.page6{}

.page6__header{
    max-width: 960px;
    margin: 0 auto;
}
.page6__header-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

.page6__header-side-left{}
.page6__header-side-right{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.page6__header-side-right_text{
    margin: auto 0;
}
.page6__header-side-right_img{
    margin: auto 10px;
    height: 13px;
    width: auto;
}

.page6__body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*padding: 0;*/
    margin: 0 auto;
    max-width: 1600px;
}
.page6__body_work_img{
    height: 200px;
    width: 255px;
    margin: -3px -1px;
}
.page6__footer{
    display: flex;
}
.page6__footer-btn{
    margin: 0 auto;
}


.siteSection-page7 {
    background-image: linear-gradient(rgba(46, 42, 78, 0.85), rgba(80, 63, 118, 0.85)), url("../img/Page7.png");
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.page7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    min-height: 360px;
    color: white;
}

.page7__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.page7__wrapper-header {
    font-family: 'Playfair Display', serif;
    font-size: 100px;
    font-weight: 400;
    margin-top: -20px;
    margin-bottom: -100px;
}

.page7__wrapper-text {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 100px;
    /*width: 560px;*/
}

.page7__wrapper-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.page7__wrapper-slider__worker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page7__wrapper-slider__worker-name {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.page7__wrapper-slider__worker-prof {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
}

.page7__wrapper-slider__fotos {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img_forvard {
    width: 12px;
    height: 20px;
    margin: 0 20px;
}

.page7__wrapper-slider__foto {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.page7__wrapper-slider__foto-worker {
    width: 45px;
    height: 45px;
    margin: 0 7px;
}

.worker__active {
    width: 70px;
    height: 70px;
}

.siteSection-page8 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /*height: 515px;*/
}

.page8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid red;*/
    width: 960px;
    margin: 0 auto;
    min-height: 525px;
}

.page8_leftSide {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.page8Title {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: uppercase;
}

input {
    padding: 10px;
    color: grey;
    margin-bottom: 25px;
}

textarea {
    padding: 10px 10px;
    color: grey;
    height: 100%;
    resize: none;
}

.page8_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.page8_rightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 20px;
    max-width: 510px;
    height: 530px;
}

.page8_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.page8_imgLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page8_imgright {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page8_imgDiv {

}

.page8_imgDiv img {
    width: auto;
}

.siteSection-page9 {
    background-image: linear-gradient(rgba(46, 42, 78, 0.85), rgba(80, 63, 118, 0.85)), url("../img/Page9.png");
}

.page9 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    min-height: 270px;
    color: white;
}



.page9__title {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    height: 50px;
    padding-top: 15px;
    margin-bottom: 25px;
}

.page9__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.page9__body-part1 {
    width: 300px;
    margin: 0 auto;
}

.page9__body-part1-header{
    margin-bottom: 25px;
}

.page9__body-part1-header img {
    width: 130px;
}

.page9__body-part1_text {
}

.page9__body-part1_text p {
    line-height: 1.5;
}

.page9__body-part2 {
    margin-left: 20px;
    width: 300px;
}

.page9__body-part2-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*vertical-align: center;*/
    margin: auto 0;
}

.page9__body-part2_rows1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.page9__body-part2_rows1-col1 {
}

.page9__body-part2_rows1-col1 img {
    width: 17px;
    margin-right: 15px;
}

.page9__body-part2_rows1-col2 {
}

.page9__body-part2_rows1-col2 p {
    line-height: 1.5;

}

.page9__body-part2_rows2 {
    display: flex;
    flex-direction: row;
}

.page9__body-part2_rows2-col1 {
}

.page9__body-part2_rows2-col1 img {
    width: 17px;
    margin-right: 15px;
}

.page9__body-part2_rows2-col2 {
}

.page9__body-part3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 60px;
}

.page9__body-part3_newsletter {
    display: flex;
    flex-direction: row;
    /*align-items: stretch;*/
}

.page9__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}

.page9__body-part3_newsletter input {
    margin-right: 5px;
    margin-bottom: 5px;
}

.page9__body-part3_newsletter-btn {
    display: flex;
    width: 70px;

    background-color: white;
    opacity: 0.5;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.page9__body-part3_newsletter img {
    width: 25px;
}

.page9__body-part3_socialMedia {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    flex-wrap: wrap;
}

.page9__body-part3_socialMedia-item {
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.page9__body-part3_socialMedia-item:last-child {
    margin-left: 0;
}

.page9__body-part3_socialMedia-item img {
    width: 16px;
}

.page9__body-part3_socialMedia-item:first-child img {
    width: 7px;
}

.page9__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page9__footer-menu {

}

.page9__footer-menu_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.page9__footer-menu_items-item {
}

.page9__footer-menu_items-item:first-child {
    padding-left: 0;
}

.page9__footer-copyright {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: right;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media screen and (max-width: 910px) {
    .page9__title {
        padding-top: 15px;
        margin-top: 25px;
        margin-bottom: 0;
    }

    .page9__body{
        flex-direction: column;
    }

    .page9__body-part1{
        margin: 0 auto;
    }
    .page9__body-part2{
        margin: 0 auto;
    }
    .page9__body-part3{
        margin: 0 auto;
     }
}

@media screen and (max-width: 700px) {
    .page2 {
        flex-direction: column;
        justify-content: center;
    }

    .page2-logo {

    }

    .imgPage2 {
        height: 50px;
        width: auto;
    }

    .page2-text {
        margin: 0 10px;
    }

    .page2Title {
        text-align: center;
    }

    .page2-p {
        margin-top: 5px;
    }

    .btnPage2 {
        display: flex;
        justify-content: center;
    }

    .mainNev__items__icon {
        display: flex;
        margin-right: 20px;
        font-size: 60px;
    }

    .mainNav__items {
        display: none;
    }

    .page7__wrapper-header {
        margin-top: -20px;
        margin-bottom: -50px;
    }

    .page7__wrapper-text {
        margin: 0;
    }

    .page8 {
        flex-direction: column;
    }

    .page8_leftSide {
        width: 100%;
    }

    .page8_rightSide {
        margin-top: 10px;
        margin-left: 0;
    }

    .page8_imgright {
        margin-left: 20px;
    }

    .page9__footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 450px) {
    .page2-logo {
        display: none;
    }

    .page7__wrapper-slider__foto {
        flex-direction: column;
    }

}